.content{
    display: flex;
}

.imageContainer,.formContainer{
    width: 50vw;
    height: 100vh;
    
    padding: 20px;
}

.image{
    background-image: url('/astropoint.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 30px rgba(144, 227, 255, 0.813),inset 0 0 100px black;
    height: 100%;
    width: 100%;
    /* border-radius: 300px 70px 350px 70px; */
    animation: borderAnim 30s ease-in-out infinite ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
}

.image h1{
    font-family:'Rubik',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: rgb(255 255 255);
    text-shadow: 0px 0px 10px #00bdff;
    font-size: 40px;
}
.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    max-height: 600px;
    width: 80%;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 30px;
    transition: .5s;
    padding: 20px;
    
}

.form:hover{
    border-color: rgb(255, 255, 255);
}

.redirect #signin{
    color: rgb(187, 187, 255);
    text-decoration: none;
    
}
.redirect{
    color: white;
    margin: 10px 20px;
}

@keyframes borderAnim {
    0%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    25%{
        border-radius: 66% 34% 18% 82% / 64% 76% 24% 36% ;
    }
    50%{
        border-radius: 37% 63% 74% 26% / 78% 61% 39% 22%  ;
    }
    75%{
        border-radius: 76% 24% 31% 69% / 31% 21% 79% 69%  ;
    }
    100%{
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    }
    
}