.chartContainer {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  z-index: 4;
  position: relative;
}

.market {
  display: flex;
  width: 100%;
  gap: 20px;
  z-index: 20;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 20px 207px 10px rgba(165, 39, 255, 0.48);
  border: 2px solid rgba(165, 39, 255,1);
  margin-bottom: 20px;
  margin-top: 20px;
  height: 100%;
  padding: 20px;
  
}