.descContainer{
    background-color: black;
}


.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    background-color: black;
    background-image: url("/src/assets/sprite3.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    user-select: none;
   
    
}
.desc::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    pointer-events: none;
    z-index: 2;
    box-shadow: inset 0px -60px 30px -40px black
                
}
.typeWriter{
    color: white;
    font-size: 45px;
    font-weight: 700;
    
}

.desc p{
    color: white;
}

/* .gifContainer{
    margin-top: 20px;
    background-image: url("../../assets/stock.gif");
    height: 280px;
    width: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: blur(2px);
    mask-image: linear-gradient(rgba(255, 255, 255, 0.427),transparent);
    border-radius: 20px;
} */


.glow{
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de, 0 0 55px #ff00de, 0 0 75px #ff00de;
}