.bar1, .bar2, .bar3, .bar4{
    position:absolute;
    top:13px;
    height: 4px;
    width: 4px;
    background-color: black;
    border-radius: 10px;
}

.bar2{
    left: 5px;
}
.bar3{
    left: 11px;
}
.bar4{
    left: 17px;
}

.bar1 svg{
    animation: rev-stroke-1 1s linear infinite;
}
