.input {
    width: 800px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transition: 0.2s ease-in-out;
}

.input input {
    width: 85%;
    height: 100%;
    border: none;
    font-size: 15px;
    margin: 5px
}

input:focus {
    outline: none;
}

.input span {
    margin-top: 3px;
    margin-right: 15px;
    margin-left: 15px;
    color: grey;
}

.input button {
    color: white;
    font-size: 15px;
    font-weight: 700;
    height: 90%;
    width: 15%;
    margin-right: 2px;
    border: none;
    background-color: rgb(46, 46, 46);
    border-radius: 10px 50px 50px 10px;
}

.headName {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 4px;
}

.subName {
    color: grey;
    font-size: 10px;
}

.symbolName{
    background-color: rgb(235, 238, 245);
    color: grey;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 10px;
    margin-left: 10px;
}

.searchList{
    margin: 8px 0;
    padding: 8px 0;
}

.searchList:hover{
    border-bottom: 1px solid lightgrey;
    border-top: 1px solid lightgrey;
}

/* .typeExchange{
    margin-left: 10px;
} */