.title{
    font-size: 34px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 10px;
    color: rgb(140, 140, 140);
}

.titlebox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}