.carousel{
    display: flex;
    width: 100%;
    height: 100%;
    user-select: none;
    overflow: hidden;
    padding: 10px;
    flex-direction: column;
    color: white;
    margin: 20px 0 20px 0 ;
}
.carousel p{
    font-size: 30px;
    font-weight: 600;
    margin: 30px 0 10px 0 ;
    text-align: center;
}

.carouselContainer{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
    background-color: rgb(20, 20, 20);
    
}


.carousellogo{
    height: auto;
    width: 30%;
    transition: .5s;
    
}

.carousellogo:hover{
    transform: scale(1.2);
}