.frontPanel {
    height: 100vh;
    background-color: transparent;
    display: flex;
    color: white;
    gap: 20px;
    padding: 20px;
    
}

.column1,
.column2 {
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow:  0px 20px 207px 10px rgba(153, 10, 255, 0.48);
}

.column1 {
    width: 25%;
}

.column2 {
    width: 75%;
    
}

.profile,
.detail {
    width: 100%;

    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.profile {
    height: 50%;
    justify-content: center;
    align-items: center;
}

.detail {
    height: 50%;
    align-items: center;
    justify-content: center;

}

.watchlistContainer {
    height: 100%;
    width: 100%;
    box-shadow: inset 0 0 10px rgba(153, 10, 255, 0.449);
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    gap:20px;
    overflow-y:scroll;
    
    
    
    
}

.watchlistItem{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(163, 226, 255);
    height: 230px;
    padding: 20px;
    border-radius: 20px;
    box-shadow:  0px 20px 107px 10px rgba(153, 10, 255, 0.48);
    user-select: none;
}


.profileImg{
    height: 100%;
    width: 100%;
    border:5px solid white;
    border-radius: 100%;
    color: rgba(153, 10, 255, 0.576);
    box-shadow:0 0 30px rgba(153, 10, 255, 0.795);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/stock.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    
}

.logoutBtn{
    border:none;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin-top: 40px;
    transition: all .5s ease-in-out;
    background-color: rgba(137, 43, 226, 0.626);
    color: white;
    box-shadow:0 0 30px rgba(153, 10, 255, 0.795);
}

.logoutBtn:active{
    background-color: white;
}

.profileImg .logo {
    height: 95%;
    width: 95%;
    border:5px solid white;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    box-shadow:0 0 30px rgba(153, 10, 255, 0.795);
    background-color: none;
    backdrop-filter: blur(10px);
    padding: 10px;
}


.watchlistItem button{
    display: flex;
    justify-content: end;
    border: none;
    height: 30px;
    width: 20px;
    color: rgba(255, 0, 0, 0.927);
    background-color: transparent;
    font-weight: 900;
    font-size: 20px;
    text-shadow: 0 0 10px red;
}
