@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body {
    background-color: black;
}

fade-enter {
    opacity: 0;
}

fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

fade-exit {
    opacity: 1;
}

fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-out;
}

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: transparent;
    padding:5px
}

::-webkit-scrollbar-thumb {
    background: #7188f8;
    border-radius: 20px;
    height: 10px;
    transition: all 0.5s ease-in-out;
    margin: 5px;

}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}